@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:ital@1&family=Montserrat:wght@300&family=Noto+Serif&family=Pacifico&family=Playfair+Display:ital@1&family=Potta+One&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

*
.nav-1 {
  background: violet; }

#nav-principal li a {
  font-size: 1.8rem;
  font-family: lora-serif;
  color: white; }

.encabezado__img--fluid {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%; }

.tituloh1 {
  background: white;
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem; }

h1, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  text-align: black; }

.titulo2 {
  background-color: white; }

.tituloh4 {
  color: black;
  background: violet;
  border-radius: 5px;
  text-decoration: none; }
  .tituloh4:hover {
    color: white; }

.card-fotos {
  margin-left: 1%;
  margin-right: 1%; }

.img-card {
  width: 100%;
  height: 50%;
  object-fit: cover; }

.tex-art {
  font-size: 1.7rem;
  font-family: cursive; }

.tex-p {
  font-size: 1.3rem;
  text-align: center;
  font-family: cursive;
  color: darkviolet; }

.btn-text {
  background: violet;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-text:hover {
  transform: translateY(5px); }

.promoenvios {
  font-family: 'Playfair Display', serif;
  font-size: 3.0rem;
  text-align: center;
  color: white;
  background-color: black; }

.promoenvios:hover {
  transform: translateY(8px); }

.piedepagina {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  text-align: center;
  opacity: 0.75; }

.footer {
  color: white;
  opacity: 0.25;
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  text-align: center; }
  .footer:hover {
    color: violet; }

.info-footer {
  color: white;
  opacity: 0.25;
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  text-align: center; }

.navegacion {
  display: flex;
  flex-direction: column; }

#logo {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%; }

.logoface {
  width: 40px; }

.img-carrousel {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%; }

/*inicio grid index*/
#grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "nav" "header"  "carrusel"  "promo"  "productos"  "pie"; }

#nav {
  grid-area: nav; }

#header {
  grid-area: header; }

#carrusel {
  grid-area: carrusel; }

#promo {
  grid-area: promo; }

#productos {
  grid-area: productos; }

#finPag {
  grid-area: pie; }

@media only screen and (min-width: 768px) {
  .pie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; } }

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-align: center;
  color: black; }

.titulo {
  color: white;
  background: linear-gradient(to top, black, violet); }

.titulo:hover {
  transform: translateY(5px); }

#textoImportante {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif; }

.enviosypagos {
  width: 30%; }

.subNav {
  color: violet;
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  text-align: center; }

.nav-2 {
  background-color: white; }

.error-404 {
  color: violet;
  font-size: 1rem;
  text-decoration: none; }
  .error-404:hover {
    color: white; }

/*estilos a pagina 404*/
.pag-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.btn-404 {
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: none; }
  .btn-404:hover {
    color: violet; }

.h1yh2-404 {
  font-size: 3rem;
  font-family: 'Ibarra Real Nova', serif; }

.h3-404 {
  font-size: 1.8rem;
  font-family: 'Ibarra Real Nova', serif; }

/*inicia grid productos*/
#grillaPR {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "nav2" "produc" "pie"; }

#nav2 {
  grid-area: nav2; }

#productosPR {
  grid-area: produc; }

#finPag {
  grid-area: pie; }

@media only screen and (min-width: 768px) {
  .pie {
    display: flex;
    flex-direction: row; }
  .subNav {
    text-align: center; } }

#finPag {
  color: white;
  background-color: black;
  text-align: center; }

.formulario {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem; }

.contenedor-contacto {
  margin-left: 10%;
  margin-right: 10%; }

.btn-contacto {
  background-color: violet; }

.tituloPrincipal {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  text-align: center;
  background-color: white; }

.titulo-prod {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  text-align: left; }

.segundoTitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: right; }

.imgCarrito {
  width: 15%; }

.elegirEnvio {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; }

.carrito {
  margin-left: 5%;
  margin-right: 5%; }

.btn-carrito {
  background: violet;
  border-color: violet;
  border-radius: 5px; }

.miPerfil {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; }

.cuenta {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 2%; }

.form-cuenta {
  margin-left: 5%;
  margin-right: 5%; }

.h2-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: left; }

.btn-cuenta {
  background: violet; }
