.tituloPrincipal{
	font-family: 'Playfair Display', serif;
	font-size: 2.4rem;
	text-align: center;
	background-color: $colorwhite;
}

.titulo-prod{
	font-family:'Montserrat', sans-serif;
	font-size: 2.2rem;
	text-align: left;

}

.segundoTitulo{
    font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	text-align: right;
}
.imgCarrito{
	width: 15%;
}
.elegirEnvio{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}

.carrito{
	margin-left: 5%;
	margin-right: 5%;
}



.btn-carrito{
	background: $colorvioleta;
	border-color: $colorvioleta;
	border-radius: 5px;
}