.tituloPrincipal{
	font-family: 'Playfair Display', serif;
	font-size: 2.4rem;
	text-align: center;
	background-color: $colorwhite;
}
.segundoTitulo{
    font-family: 'Playfair Display', serif;
	font-size: 2.2rem;
	text-align: left;
}
.imgCarrito{
	width: 10%;
}
.elegirEnvio{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}
