#finPag{
	color: $colorwhite;
	background-color:  $colornegro;
	text-align: center;
}

.formulario{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}

.contenedor-contacto{
	margin-left: 10%;
	margin-right: 10%;

}

.btn-contacto{
	background-color: $colorvioleta;
}