.miPerfil{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;

}

.cuenta{
	display: flex;
	flex-direction: column-reverse;
	width:100%;
	margin-bottom: 2%;
}

.form-cuenta{
	margin-left: 5%;
	margin-right: 5%;
}

.h2-h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	text-align: left;
}

.btn-cuenta{
	background: $colorvioleta;
}