.subNav{
	color: $colorvioleta;
	background-color: $colorwhite;
	font-family: 'Playfair Display', serif;
	font-size: 2.7rem;
	text-align: center;
	
}

.nav-2{
	background-color: $colorwhite;
}

.error-404{
	color: $colorvioleta;
	font-size: 1rem;
	text-decoration: none;
	&:hover{
		color: $colorwhite;
	}
}
/*estilos a pagina 404*/

.pag-404{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}

.btn-404{
	background-color:$colornegro;
	border-radius: 5px;
	color: $colorwhite;
	font-size: 2rem;
	font-family: 'Ibarra Real Nova', serif;
	text-decoration: none;
	&:hover{
		color:$colorvioleta;
	}
}

.h1yh2-404{
	font-size: 3rem;
	font-family: 'Ibarra Real Nova', serif;

}

.h3-404{
	font-size: 1.8rem;
	font-family:'Ibarra Real Nova', serif ;
}

/*inicia grid productos*/


#grillaPR{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto ;

	grid-template-areas:
	 "nav2"
	 "produc"
	 "pie";
}


#nav2{
	grid-area: nav2;
}


#productosPR{
	grid-area: produc;
}

#finPag{
	grid-area: pie;
}

@media only screen and (min-width: 768px){
   

	.pie{
		display: flex;
		flex-direction: row;

	}
   

   .subNav{
   	text-align: center;
   }


 }


