.subNav{
	color: $colorvioleta;
	background-color: $colorwhite;
	font-family: 'Playfair Display', serif;
	font-size: 2.7rem;
	text-align: center;
	
}

.nav-2{
	background-color: $colorwhite;
}



/*inicia grid productos*/


#grillaPR{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto ;

	grid-template-areas:
	 "nav2"
	 "produc"
	 "pie";
}


#nav2{
	grid-area: nav2;
}


#productosPR{
	grid-area: produc;
}

#finPag{
	grid-area: pie;
}

@media only screen and (min-width: 768px){
   

	.pie{
		display: flex;
		flex-direction: row;

	}
   

   .subNav{
   	text-align: center;
   }


 }


